:root, button {
    font-family: 'NeueHaasDisplay', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* permite rolagem vertical */
    overflow-y: auto;
    background-color: #000; /* fallback */
}

h1 {
    font-size: clamp(24px, 4vw, 48px);
}

.vw-fullformatter {
    width: 100%;
}

.vh-fullformatter {
    min-height: 100vh;
}

.content-formatter {
    width: 85%;
    max-width: 1200px;
}