:root, button {
    font-family: 'NeueHaasDisplay', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 48px;
}

.vw-fullformatter {
    width: 100%;
}

.vh-fullformatter {
    height: 100vh;
}

.content-formatter {
    width: 85%;
    max-width: 1200px;
}
