#jogo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
}

#jogo-container h1 {
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    animation: fadeInDown 1s ease;
}

#imagem-container {
    width: 450px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 30px;
    animation: fadeIn 1.2s ease;
}

#imagem-palavra {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#palavra-container {
    display: flex;
    justify-content: center;
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease;
}

#letras-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin-top: 20px;
    animation: fadeIn 1.5s ease;
}

#letras-container button {
  margin: 8px;
  padding: 12px 24px;
  font-size: 20px;
  border: none;
  background-color: #b280db;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#letras-container button:hover {
    background-color: #d7a7f7;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#letras-container button:active {
    transform: scale(0.95);
    background-color: #a060d3;
} 

#let-container button:hover {
  background-color: #d7a7f7;
}

#exibicao-resultado {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 25px;
    height: 40px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#exibicao-resultado.correta {
    color: #4ef037;
    animation: pulseGreen 1s ease;
    opacity: 1;
}

#exibicao-resultado.incorreta {
    color: #ff5555;
    animation: shake 0.5s ease;
    opacity: 1;
}